.myHeader {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1000;
    top: 300px;
}

.row {
    display: flex;
}

.innerHeader {
    padding: 40px 50px;
}

.iconCol {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.headerLogo {
    display: inline-block;
    margin-right: 5px;
}

.logoText {
    display: inline-block;
}

.title {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: -30px;
}

.description {
    font-size: 1.1rem;
    font-weight: 400;
}

.navCol {
    text-align: right;
    margin-top: 30px;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav a {
    color: #ffffff;
}

li::marker {
    color: transparent;
}

.navItem {
    list-style: none;
    display: block;
    margin-bottom: 0;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.navItem:hover {
    text-decoration: underline;
    text-underline-offset: 20px;
}

.activeNav {
    text-decoration: underline;
    text-underline-offset: 20px;
}