.formAndInfo {
    display: flex;
    margin: 0 auto;
    width: 900px;
}

.column {
    float: left;
    width: 50%;
    padding-left: 100px;
}


.formGroup {
    margin-bottom: 30px;
}

.contactForm {
    padding-top: 35px;
    padding-right: 100px;
}

.formInpt {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #626364;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.formInpt:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.formBtn {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 26px;
}